*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


i{
    font-size: 20px;
    color: #fff;
    position: relative;
}

i span{
    position: absolute;
    background-color: #fff;
    color: green;
    padding: 3px 5px;
    border-radius: 100%;
    top: -10px;
    right: -14px;
    font-size: 11px;
}

header a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

#Products .card-img-top{
    height: 300px;
    object-fit: cover;
}

table img{
    width: 200px;
    height: 100px;
    object-fit: cover;
}

#toaster{
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: .5s;
}

#toaster2{
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: .5s;
}